@font-face {
    font-family: 'LD Grotesk Bold';
    src: url(LDGrotesk-BoldWide.woff);
}
@font-face {
    font-family: 'LD Grotesk Medium';
    src: url(LDGrotesk-Medium.woff);
}
body {
    overflow-x: hidden !important;
    margin: 0;
    background-image: url(images/bg.png);
    background-size: 100% 999%;
    background-repeat: no-repeat;
    font-size: 1.2rem;
    color: white;
    font-family: 'LD Grotesk Medium', 'LD Grotesk Bold', Verdana, Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'LD Grotesk Bold', 'LD Grotesk Medium', Verdana, Arial, Helvetica, sans-serif;
}
.logo {
    width: 300px;
}
@media screen and (min-width: 1289px) {
    nav {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
nav a.button {
    margin: 0.5rem;
    text-align: center;
    background-color: white;
    padding: 0.5rem 4rem;
    border: 2px solid black;
    text-decoration: none;
    color: gray;
    flex-basis: 100px;
    transition: background-color 0.15s ease-out;
}
nav a.button:hover {
    background-color: #FFE4BC;
}
}
@media screen and (max-width: 1288px) {
    nav {
        width: 100%;
        height: 20%;
        flex-direction: column  ;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    nav a.button {
        margin: 0.5rem;
        text-align: center;
        background-color: white;
        padding: 0.5rem 4rem;
        border: 2px solid black;
        text-decoration: none;
        color: gray;
        width: 100px;
        order: 1;
    }
}
.sesja-portretowa-description {
    list-style-type: none;
    margin-left: 1rem;
}
h2 {
    margin: 0;
    font-weight: 700;
}
ul {
    margin: 0;
}
@media screen and (min-width: 1267px) {
section {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    }
figure {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
}
}
@media screen and (max-width: 1266px) {
section {
        margin-left: 5%;
        margin-right: 5%;
}
figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}
figure img {
    transform: scale(0.7);
}
figcaption {
    flex-basis: 450px;
    padding: 0rem 1rem;
}
figcaption h3 {
    font-size: 2.8rem;
}
div .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    padding: 1rem 0;
    width: 80%;
    height: 360px;
    margin-top: 1.5rem;
}
article:nth-of-type(2) {
    margin-bottom: 1rem;
}
img#social-media-logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0;
}
.social-media figcaption {
    color: gray;
    margin: 0;
}
p#social-media-caption {
    margin-left: 1rem;
    color: gray;
}
p#social-media-caption a#instagram {
    text-decoration: none;
    color: #f72585
}
p#social-media-caption a#facebook {
    text-decoration: none;
    color: #1877f2
}
.curator-io {
    overflow: hidden;
    margin-top: 1rem;
    width: 60%;
    height: 250px;
}